span.user-menu {
    display: block;
    font-size: 23px;
    width: 40px;
    line-height: 35px;
    height: 35px;
    text-align: center;
    position: relative;
    color: #000000;
    cursor: pointer;
    transition: color 0.25s, border-color 0.25s, background-color 0.25s, opacity 0.25s, width 0.25s ease 0s;
}
ul.user-menu-content {
    padding: 0 10px;
}
span.user-menu:hover,
ul.user-menu-content li span:hover,
ul.user-menu-content li a:hover {
    color: #fa8f47;
}
ul.user-menu-content li span,
ul.user-menu-content li a {
    color: #777777;
    display: block;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
    transition: color 0.25s;
}
