.login-page {
    width: 50%;
    background-color: #f6f6f6;
    padding: 30px 25px;
    border-radius: 0;
    max-width: 100%;
    margin: 0 auto;
}
@media (max-width: 1199px) {
    .login-page {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 991px) {
    .login-page {
        width: 100%;
        min-height: 0;
    }
}
