.cart-icon .icon {
    cursor: pointer;
    display: block;
    font-size: 23px;
    width: 40px;
    line-height: 60px;
    height: 60px;
    text-align: center;
    position: relative;
    color: #000000;
    margin-right: 10px;
    transition: color 0.25s, border-color 0.25s, background-color 0.25s, opacity 0.25s, width 0.25s ease 0s;
}
.cart-icon .icon:hover {
    color: #fa8f47;
}
.cart-icon .icon .count,
.cart-icon .cart-canvas .count {
    position: absolute;
    display: inline-block;
    min-width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    padding-left: 1px;
    border-radius: 50%;
    background-color: #fa8f47;
    font-size: 12px;
    color: #ffffff;
}
.cart-icon .icon .count {
    top: 6px;
    right: -11px;
}
.cart-icon .cart-canvas .count {
    top: -15px;
    right: 10px;
}
.cart-icon .products-list {
    overflow-y: auto;
}

@media (max-width: 991px) {
    .cart-icon .icon {
        width: 30px;
    }
}
