ul.payment-methods {
    padding: 30px 30px 20px 30px;
    list-style: none;
}
ul.payment-methods li:not(:last-child) {
    padding-bottom: 20px;
}
ul.payment-methods .method-details {
    background-color: #e9e9e9;
    position: relative;
    padding: 15px;
    margin-top: 18px;
}
ul.payment-methods .method-details::before {
    content: '';
    border-width: 0 9px 10px 9px;
    border-style: solid;
    border-color: transparent transparent #e9e9e9 transparent;
    position: absolute;
    top: -10px;
    left: 25px;
}
ul.payment-methods .method-details p {
    margin-bottom: 0;
}

@media (max-width: 1199px) {
    ul.payment-methods {
        padding: 20px 15px;
    }
}
