.product-view {
    display: flex;
    flex-wrap: wrap;
}
.product-view .product-title {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0;
}
.product-view .stock,
.product-view .already-in-cart {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 28px;
    position: relative;
    font-weight: 500;
    color: #000;
}
.product-view .stock.in-stock span,
.product-view .already-in-cart span {
    color: #fa8f47;
}

.product-view .product-short-description {
    margin-bottom: 18px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 24px;
    color: #333;
}
.product-view .product-add-to-cart {
    vertical-align: middle;
    height: 46px;
    line-height: 46px;
    min-width: 180px;
    font-size: 13px;
    font-weight: 700;
    padding: 0 10px;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    border-radius: 30px;
}
.product-view .product-add-to-cart:hover {
    background-color: #fa8f47;
    cursor: pointer;
}
.product-view .product-add-to-cart.disabled {
    opacity: 0.65;
    text-decoration: line-through;
    cursor: not-allowed;
    pointer-events: none;
}
.product-view .product-category {
    display: block;
    font-weight: 500;
}
.product-view .product-data-tabs {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    width: 100%;
}
.product-view .product-data-tabs .tabs-list {
    list-style: none;
    padding-left: 0;
    text-align: center;
}
.product-view .product-data-tabs .tab-title {
    display: inline-block;
    padding: 0 25px;
    vertical-align: bottom;
}
.product-view .product-data-tabs .tab-title span {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #868686;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
    transition: color 0.25s, border-color 0.25s, background-color 0.25s, opacity 0.25s, width 0.25s ease 0s;
}
.product-view .product-data-tabs .tab-title span:before {
    content: '';
    position: absolute;
    border-bottom: 2px solid #fa8f47;
    width: 100%;
    bottom: 0;
    transition: all 0.5s;
    transform: scale(0);
}
.product-view .product-data-tabs .tab-title.active span::before,
.product-view .product-data-tabs .tab-title span:hover::before {
    transform: scaleX(1);
}
.product-view .product-data-tabs .tab-title span:hover,
.product-view .product-data-tabs .tab-title.active span {
    color: #000;
    cursor: pointer;
}
.product-view .product-slider .slick-track {
    max-height: 336px;
}
.product-view .product-slider .flex-control-nav:not(.slick-vertical) .slick-track {
    display: flex;
}
.product-view .product-slider .flex-control-nav .slick-arrow.slick-prev {
    margin-bottom: 8px;
}
.product-view .product-slider .flex-control-nav .slick-arrow.slick-next {
    border-radius: 0 0 3px 3px;
}
.product-view .product-slider .flex-control-nav .slick-arrow {
    font: normal normal normal 14px/1 FontAwesome;
}
.product-view .product-slider .flex-control-nav .slick-arrow.slick-prev::before {
    content: "\f106";
}
.product-view .product-slider .flex-control-nav .slick-arrow.slick-next::before {
    content: "\f107";
}
.product-slide-icon {
    padding-bottom: 5px;
}
.product-view .product-slider .flex-control-nav .slick-slide {
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 767px) {
    .product-view {
        margin-left: 0;
        margin-right: 0;
    }
    ul.products > [class^="col-"],
    ul.products > [class*="col-"],
    .product-view[class^="col-"],
    .product-view[class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 991px) {
    .product-view .product-slider .flex-viewport {
        float: none;
    }
    .product-view .product-slider .flex-control-nav.flex-control-thumbs .slick-arrow {
        margin: 0;
        border-radius: 50%;
    }
    .product-view .product-slider .flex-control-nav .slick-arrow.slick-prev {
        left: 0;
    }
    .product-view .product-slider .flex-control-nav .slick-arrow.slick-next {
        right: 0;
    }
    .product-view .product-slider .flex-control-nav .slick-arrow.slick-prev:before {
        content: "\f104";
    }
    .product-view .product-slider .flex-control-nav .slick-arrow.slick-next:before {
        content: "\f105";
    }
    .product-view .product-data-tabs .tab-title {
        padding: 0 10px;
    }
}
@media (max-width: 345px) {
    .product-view .product-add-to-cart {
        min-width: 160px;
    }
}
