.slide-dropdown > .slide-dropdown-element {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.slide-dropdown > .slide-dropdown-content {
    position: absolute;
    top: 100%;
    min-width: 150px;
    background-color: #fff;
    color: #777777;
    z-index: 10;
    border: none;
    list-style: none;
    -webkit-transition: margin 0.4s ease 0s;
    -moz-transition: margin 0.4s ease 0s;
    -o-transition: margin 0.4s ease 0s;
    transition: margin 0.4s ease 0s;
    text-align: left;
    -webkit-box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    margin-top: 15px;
    padding: 15px 0;
}
.slide-dropdown > .slide-dropdown-content.left {
    right: 0;
}
.slide-dropdown > .slide-dropdown-content.right {
    left: 0;
}

.slide-dropdown > .slide-dropdown-content.show {
    opacity: 1;
    visibility: visible;
    margin-top: 0
}
